body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90fce8;
}

section {
    background-color: #fae8e8;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #ff5e3a;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 3px 4px rgba(14, 13, 13, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fc0b0b;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#result {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}
